body {
    background: #fff;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 5.6rem;
    font-family: 'Lobster', cursive;
}

.wrapper {
    background: url("/images/background1.jpg");
    color: #eee;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animation 100s linear infinite;
}

@keyframes animation {
    100% {
        background-position: 0px -3000px;
    }
}